* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #333333;
    transition: all 0.2s ease-in;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    li { list-style: none; }
    a {
        color: #333333;
        text-decoration: none;
    }
}

header {
    #top_bar_bg {
        background: #f9f9f9 url('http://fastortheme.com/grocery/image/catalog/grocery/bg-top-bar.png') bottom left repeat-x;
        #top_bar {
            padding: 6px 20px 7px;
            margin: 0 -10px;
            font-size: 13px;
            .background {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding: 1px 15px;
                z-index: 1;
                p {
                    vertical-align: top;
                    display: inline-block;
                    padding: 6px 0 0;
                    margin: 1px 0 0 -2px;
                    position: relative;
                    font-size: 12px;
                }
            }
        }
    }

    #header_top {
        padding: 10px 20px 30px;
        margin: 0;
        #logo { padding: 35px 0 5px; }
        #header_right {
            & > * {
                height: 45px;
                margin-top: 24px;
            }
            #search_form {
                max-width: 100%;
                padding: 2px;
                margin-top: 30px;
                border-radius: 4px;
                background: linear-gradient(to bottom, #f97a1f 0%,#fcaf52 0%,#f97a1f 99%);
                .search-select {
                    width: 331px;
                    height: 41px;
                    padding: 0 26px;
                    select {
                        width: 100%;
                        height: 100%;
                        font-size: 12px;
                        background: none;
                        border: none;
                        outline: none;
                        color: #ffffff;
                        text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.13);
                        font-weight: 600;
                        appearance: none;
                    }
                    &::after {
                        content: "\f078";
                        position: absolute;
                        right: 27px;
                        top: 13px;
                        color: #ffffff;
                        font-size: 10px;
                        font-family: FontAwesome;
                    }
                }
                .search-input {
                    width: 407px;
                    input {
                        width: 100%;
                        height: 41px;
                        padding: 10px 35px 11px 20px;
                        border: none;
                        outline: none;
                        border-radius: 4px;;
                        color: #808080;
                        font-size: 12px;
                    }
                    &::after {
                        content: "\f002";
                        position: absolute;
                        right: 19px;
                        top: 7px;
                        color: #232323;
                        font-size: 16px;
                        font-family: FontAwesome;
                    }
                }
            }
            #my_account {
                width: 45px;
                padding: 9px 0 0;
                border: 1px solid #cccccc;
                border-radius: 4px;
                font-size: 17px;
                &:hover {
                    background-color: #e16ca4;
                    border-color: #e16ca4;
                    i { color: #ffffff; }
                }
            }
            #cart_block {
                min-width: 117.4px;
                margin-left: 28px;
                #cart_heading {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #cccccc;
                    border-radius: 4px;
                    &:hover {
                        border-color: #e16ca4;
                        #cart_content { display: block; }
                    }
                    #cart_count {
                        width: 23px;
                        height: 23px;
                        padding: 4px 0 0;
                        border-radius: 4px;
                        margin: 11px 0 0 -17px;
                        background: linear-gradient(to bottom, #d54f88 0%,#e989b8 0%,#d54f88 99%);
                        color: #ffffff;
                        font-size: 10px;
                        font-weight: 600;
                    }
                    #cart_icon {
                        width: 45px;
                        height: 100%;
                        padding-top: 7px;
                        margin-left: -6px;
                        img { margin-right: -2px; }
                    }
                    #total_price {
                        position: relative;
                        width: 55px;
                        height: 33px;
                        padding: 9px 0 1px;
                        text-align: start;
                        vertical-align: top;
                        &::after {
                            content: "\f078";
                            position: absolute;
                            margin: 4px 0 0 10px;
                            color: #e16ca4;
                            font-size: 10px;
                            font-family: FontAwesome;
                        }
                        span {
                            color: #e16ca4;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    #header_bottom {
        padding: 0 20px;
        &::before {
            content: " ";
            position: absolute;
            left: 32px;
            z-index: 1;
            width: calc(100% - 64px);
            height: 1px;
            background-color: #e5e5e5;
        }
        #cat_menu {
            #cat_heading {
                padding: 14px 30px 14px 25px;
                border-radius: 4px 4px 0 0;
                background: linear-gradient(to bottom, #d44f88 0%,#e988b8 0%,#d44f88 99%);
                color: #ffffff;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.6;
            }
            #cat_list {
                background-color: #ffffff;
                border: 2px solid #d44f88;
                border-top: none;
                border-radius: 0 0 4px 4px;
                li {
                    padding: 14px 30px 13px 25px;
                    line-height: 1.6;
                    &:not(:first-child) {
                        border-top: 1px solid #e5e5e5;
                    }
                    &:hover {
                        background-color: #fafafa;
                        span { color: #94b73a; }
                    }
                    a {
                        display: flex;
                        align-items: start;
                        img { margin: -5px 13px -1px 0; }
                        span { font-size: 14px; }
                    }
                }
            }
        }
        #navbar {
            overflow-x: auto;
            white-space: nowrap;
            a {
                display: inline-block;
                padding: 20px 0 17px;
                margin-right: 23px;
                font-size: 13px;
                line-height: 1;
                vertical-align: bottom;
                &:hover { color: #94b73a; }
            }
        }
    }
}

footer {
    background-image: url('http://fastortheme.com/grocery/image/catalog/grocery/bg-footer.png');
    background-position: top left;
    background-repeat: repeat-x !important;
    background-attachment: scroll !important;
    #footer_top {
        padding-top: 61px;
        padding-bottom: 22px;
        .row {
            padding: 0 15px;
            .footer-block {
                display: flex;
                height: 64px;
                padding: 10px 25px 15px;
                h6 {
                    padding: 6px 0 0;
                    margin: 0;
                    font-size: 11px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p {
                    padding: 1px 0 0;
                    margin: 0;
                    font-size: 21px;
                }
            }
        }
    }
    #footer_bottom {
        font-size: 13px;
        padding-top: 34px;
        padding-bottom: 27px;
        ul {
            padding: 10px 0 0;
            margin: 0 0 -3px;
            li {
                padding: 0 9px;
                a i {
                    color: #d1d1d1;
                    font-size: 24px;
                    line-height: 1.6;
                }
            }
        }
    }
}

main {
    padding: 0 20px 35px;

    h2 {
        padding: 10px 0 15px;
        margin: 0;
        font-size: 20px;
        font-weight: 700;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a, button {
            display: inline-block;
            padding: 11px 38px;
            border: none;
            border-radius: 4px;
            margin: 10px 0 5px;
            color: #ffffff;
            font-size: 11px;
            font-weight: 600;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
            &:first-child {
                background: linear-gradient(to bottom, #202020 0%, #535353 0%, #202020 99%);
                &:hover {
                    background: linear-gradient(to bottom, #323232 0%, #535353 0%, #323232 99%);
                }
            }
            &:last-child {
                background: linear-gradient(to bottom, #d6528b 0%,#e989b8 0%,#d6528b 99%);
                &:hover {
                    background: linear-gradient(to bottom, #e26ea5 0%, #e989b8 0%, #e26ea5 99%);
                }
            }
        }
    }

    #title, #shop_title {
        padding-top: 40px;
        text-align: center;
        h1 {
            margin: 0 0 5px;
            font-size: 30px;
            font-weight: 700;
        }
        ul {
            margin: 0;
            li { font-size: 13px; }
        }
    }

    #banners {
        .col-md-8 {
            padding: 30px 0 0;
            img {
                display: block;
                max-width: calc(100vw - 40px);
                margin-left: 10px;
            }
        }
        .col-md-4 img {
            display: block;
            max-width: calc(100vw - 40px);
            padding: 20px 10px 0;
            margin: 0 auto;
        }
        .col-md-6 {
            padding: 30px 10px 0;
            img {
                display: block;
                max-width: calc(100vw - 40px);
                margin: 0 auto;
            }
        }
    }

    #banners_2 {
        .img-1 img { max-width: 100%; }
        & > div {
            padding: 30px 10px 0;
            text-align: center;
        }
    }

    #categories {
        .category-row {
            display: flex;
            margin-top: 30px;
            &:first-child { margin-top: 60px; }
            .products {
                display: flex;
                height: 306px;
                padding-left: 5px;
                overflow-x: auto;
                border: 1px solid #e5e5e5;
                border-style: solid none solid none;
                &::-webkit-scrollbar { height: 5px;}
                &::-webkit-scrollbar-thumb {
                    border-radius: 5px;
                    background: #d6df3caa;
                    &:hover { background: #d6df3c; }
                }
                .product-card {
                    min-width: calc(100vw - 220px);
                    border-right: 1px solid #e5e5e5;
                    &:last-child { border-right: none; }
                }
            }
        }
    }

    #shop {
        padding-top: 45px;
        .products {
            display: flex;
            flex-wrap: wrap;
            background-color: #ffffff;
            border-top: 1px solid #e5e5e5;
            .product-card {
                width: 100%;
                border-bottom: 1px solid #e5e5e5;
                .card-image img { width: 272px; }
            }
        }
    }

    .product-card {
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0 solid #e16ca4;
            border-radius: 4px;
        }
        &:hover {
            &::before { border-width: 2px; }
            .card-content .name, .price { display: none; }
            .only-hover { display: flex; }
        }
        .card-badge {
            position: absolute;
            z-index: 3;
            left: 25px;
            top: 30px;
            padding: 4px 12px;
            border-radius: 4px;
            color: #ffffff;
            font-size: 11px;
            text-transform: uppercase;
            &.new { background: linear-gradient(to bottom, #b4c313 0%, #d6df3c 0%, #b4c313 99%); }
            &.sale { background: linear-gradient(to bottom, #d44f88 0%, #e989b8 0%, #d44f88 99%); }
        }
        .card-image {
            z-index: 2;
            a img {
                width: auto;
                max-width: 100%;
            }
        }
        .card-content {
            .name a {
                padding: 10px 0 0;
                font-size: 13px;
            }
            .price {
                color: #e16ca4;
                font-size: 14px;
                span.old-price {
                    padding-right: 2px;
                    color: #232323;
                    text-decoration: line-through;
                }
            }
        }
        .only-hover {
            position: absolute;
            z-index: 2;
            transform: translateX(-50%);
            left: 50%;
            bottom: 75px;
            display: none;
            padding: 0;
            margin: 0;
            li a {
                display: block;
                width: 35px;
                height: 35px;
                padding: 5px 0;
                border: 1px solid #cccccc;
                border-radius: 50%;
                background-color: #ffffff;
                &:first-child { margin-right: 5px; }
                &:hover {
                    background-color: #e16ca4;
                    border-color: #e16ca4;
                    i { color: #ffffff; }
                }
            }
        }
    }

    #product {
        padding: 25px;
        & > div { margin: 40px 0 0; }
        #images {
            .zoom {
                position: relative;
                width: 100%;
                padding: 1px;
                border: 1px solid #e5e5e5;
                overflow: hidden;
                img {
                    width: 100%;
                    transition: none;
                }
            }
            .slider-container {
                position: relative;
                padding: 20px 19px 0;
                overflow-x: hidden;
                & > div:not(:last-child) {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    width: 35px;
                    height: 35px;
                    padding: 8px 0 0 12px;
                    border: 1px solid #e5e5e5;
                    border-radius: 50%;
                    margin-top: 10px;
                    background-color: #ffffff;
                    font-size: 11px;
                    &.scroll-left { left: 0; }
                    &.scroll-right { right: 0; }
                }
                .slider {
                    display: flex;
                    overflow-x: auto;
                    &::-webkit-scrollbar { height: 0; }
                    img {
                        width: calc((100% - 60px) / 4);
                        border: 1px solid #e5e5e5;
                        border-radius: 4px;
                        margin: 0 10px;
                        &:first-child { margin-left: 0;}
                        &:last-child { margin-right: 0;}
                    }
                }
            }
        }
        #content{
            & > div {
                padding: 24px 0 22px;
                &:not(:first-child) {
                    border-top: 1px solid #e5e5e5;
                }
            }
            .info {
                font-size: 13px;
                p {
                    display: inline-block;
                    width: 139px;
                    padding: 0 20px 0 0;
                    margin: 0;
                }
                span { font-weight: 600;}
            }
            .price p {
                margin: 0;
                color: #e16ca4;
                font-size: 50px;
                line-height: 1;
                &.old-price {
                    padding-left: 15px;
                    color: #cccccc;
                    font-size: 20px;
                    text-decoration: line-through;
                }
            }
            .description {
                p {
                    margin: 0;
                    font-size: 13px;
                }
            }
            .buttons a {
                width: 100%;
                padding: 16px;
                i {
                    color : #ffffff;
                    margin-right: 8px;
                }
            }
        }
    }

    #form {
        background-color: #ffffff;
        padding: 40px 55px 20px;
        margin: 50px 0 0;
        h3 {
            padding: 10px 0 0;
            margin: 0 0 15px;
            font-size: 20px;
            font-weight: 700;
        }
        .form-group {
            margin: 0 -15px 15px;
            label {
                padding: 0 15px;
                font-size: 13px;
                white-space: nowrap;
                &:not(.nr)::before {
                    content: '* ';
                    color: #ff0000;
                    font-weight: bold;
                }
            }
            input, textarea {
                width: 100%;
                padding: 12px 20px 11px;
                border: 1px solid #e5e5e5;
                outline: none;
                border-radius: 4px;
                margin: 5px 0;
                color: #808080;
                &:focus { border-color: #e16ca4; }
            }
            input { height: 45px; }
        }
        .buttons {
            margin: 0 0 15px;
            text-align: end;
        }
        .divider {
            width: calc(100% + 30px);
            height: 1px;
            background-color: #e5e5e5;
            margin: 50px 0 50px -15px;
        }
    }

    #sidebar {
        align-self: flex-start;
        padding: 10px 0;
        border: 2px solid #b4c212;
        border-radius: 4px;
        margin: 40px 15px 0;
        background-color: #ffffff;
        li {
            padding: 5px 30px 0;
            margin: 0;
            &:not(:last-child) {
                border-bottom: 1px solid #e5e5e5;
            }
            a {
                display: inline-block;
                padding: 10px 0;
                font-size: 13px;
                &:hover { color: #e16ca4; }
            }
        }
    }

    #wishlist, #profile, #orders, #addresses, #checkout {
        padding: 40px 0 20px;
        margin: 40px 15px 0;
        background-color: #ffffff;
    }

    #wishlist, #orders, #checkout {
        .table-container {
            margin-bottom: 30px;
            overflow-x: auto;
            table {
                width: 100%;
                tr {
                    &:not(.details):hover {
                        td, th { background-color: #fafafa; }
                    }
                    th, td {
                        border: 1px solid #e5e5e5;
                        border-collapse: collapse;
                    }
                    th {
                        padding: 18px 30px 14px;
                        font-size: 11px;
                        text-align: center;
                        vertical-align: middle;
                        text-transform: uppercase;
                    }
                    td {
                        font-size: 13px;
                        text-align: center;
                        vertical-align: middle;
                        padding: 20px 30px 16px;
                        img { width: 100px; }
                        span {
                            font-size: 11px;
                            text-decoration: line-through;
                        }
                        &.buttons {
                            display: table-cell;
                            a {
                                margin: 5px 0;
                                line-height: 1;
                                i {
                                    font-size: 12px;
                                    color: #ffffff;
                                }
                                &.add-to-basket { width: 64px; }
                                &.remove-wishlist { width: 40px; }
                            }
                        }
                        table {
                            width: 100%;
                            thead {background-color: #f1f1f1; }
                            td { padding: 15px 0 10px; }
                        }
                    }
                }
            }
        }
    }

    #profile {
        #form {
            padding: 0;
            margin: 0;
            .form-group { margin: 0 0 15px; }
            .row .form-group {
                &:first-child { width: calc(50% - 15px); }
                &:last-child { width: calc(50% - 15px); }
            }
        }
    }

    #addresses {
        table {
            width: 100%;
            margin-bottom: 30px;
            td {
                border: 1px solid #e5e5e5;
                padding: 20px 30px 16px;
                font-size: 13px;
                text-align: center;
                &.text-start { width: 54%; }
                span {
                    float: right;
                    padding: 5px 10px;
                    border-radius: 20px;
                    background: linear-gradient(to bottom, #202020 0%, #535353 0%, #202020 99%);
                    color: #ffffff;
                }
            }
        }
    }

    #basket {
        padding: 0 15px 20px;
        margin: 40px 0 0;
        background-color: #ffffff;
        .cart-products {
            width: 100%;
            overflow-x: auto;
            table {
                width: 100%;
                thead { border-bottom: 1px solid #e5e5e5; }
                tr {
                    padding: 0 15px;
                    th {
                        padding: 18px 30px 14px;
                        font-size: 11px;
                        text-align: center;
                        vertical-align: middle;
                        text-transform: uppercase;
                    }
                    td {
                        padding: 30px 30px 0;
                        font-size: 13px;
                        text-align: center;
                        vertical-align: middle;
                        input {
                            width: 61px;
                            padding: 12px 0 11px;
                            border: 1px solid #e5e5e5;
                            border-radius: 4px;
                            outline: none;
                            margin-right: 10px;
                            text-align: center;
                            &:focus {
                                border-color: #e16ca4;
                            }
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                            }
                        }
                        span {
                            margin-left: 10px;
                            font-size: 11px;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        .cart-total {
                float: right;
                margin: 25px 0;
                td {
                    padding-left: 30px;
                    color: #e16ca4;
                    font-size: 14px;
                    text-align: end;
                    strong {
                        font-size: 13px;
                        color: #333333;
                    }
                }
        }
    }

    #order_address {
        margin: 40px 15px 0;
        background-color: #ffffff;
        select {
            width: 100%;
            font-size: 13px;
            padding: 12px 20px 11px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            outline: none;
            margin-bottom: 30px;
            appearance: none;
        }
        table {
            width: 100%;
            margin-bottom: 30px;
            font-size: 13px;
            text-align: end;
            td { padding: 10px 30px 5px; }
        }
        .buttons { justify-content: end; }
    }
}

@media only screen and (min-width: 480px) {
    main {
        #categories .category-row .products
        .product-card {
            min-width: calc((100vw - 220px) / 2);
        }
        #shop .products .product-card { 
            width: calc((100vw - 40px) / 2);
            border-right: 1px solid #e5e5e5;
            &:nth-child(2n) { border-right-style: none; }
            &:last-child { border-right: none; }
        }
        #product #images .slider-container .slider
        img { width: calc((100% - 80px) / 5); }
    }
}

@media only screen and (min-width: 595px) {
    header #header_bottom #navbar {
        justify-content: space-around;
    }
    main #banners .col-md-8 img {
        width: 555px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 610px) {
    main #categories .category-row .products
    .product-card .card-image a img { width: 155px; }
}

@media only screen and (min-width: 768px) {
    header {
        #top_bar_bg #top_bar, #header_top,
        #header_bottom {
            width: 728px;
            margin: 0 auto;
        }
        #top_bar_bg #top_bar {
            padding: 0 20px;
            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 19px;
                left: 45px;
                right: 45px;
                height: 1px;
                background: rgba(0, 0, 0, .1);
                z-index: 0;
            }
            .background {
                padding: 4px 0 6px;
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    top: 19px;
                    left: -18px;
                    right: -18px;
                    height: 1px;
                    background: #f9f9f9;
                    z-index: -1;
                }
            }
        }
        #header_top {
            padding: 6px 20px 30px;
            #logo { padding: 26px 15px 0; }
            #header_right {
                display: flex;
                justify-content: center;
                #search_form {
                    width: 310px;
                    margin: 30px 18px 0 0;
                    .search-select { width: 161px; }
                    .search-input { width: 165px; }
                }
                #my_account,
                #cart_block { margin-top: 30px; }
            }
        }
        #header_bottom::before {
            left: 20px;
            width: calc(100% - 40px);
        }
    }
    main, footer > div {
        width: 728px;
        margin: 0 auto;
    }
    footer #footer_top .row .footer-block { display: block; }
    main {
        #title, #shop_title { padding-top: 50px; }
        #contact_form .form-group {
            display: flex;
            label {
                padding-top: 18px;
                text-align: end;
                white-space: wrap;
            }
            input { width: 83.3333333%; }
        }
        #banners {
            .col-md-8 {
                padding: 30px 15px 0 0;
                img { width: 403px; }
            }
            .col-md-4 {
                padding: 10px 0 0;
                img {
                    width: 201.5px;
                    padding: 20px 0 0 15px;
                }
            }
            .col-md-6 {
                img { max-width: 100%; }
            }
        }
        #banners_2 .img-4 {
            padding: 60px 15px 0;
            img { width: 150px; }
        }
        #categories .category-row .products .product-card {
            min-width: 168px;
            padding: 50px 25px;
        }
        #shop .products .product-card {
            &:nth-child(2n) { border-right-style: solid; }
            &:nth-child(4n) { border-right: none; }
            width: 172px;
            padding: 50px 25px;
            .card-image a img { width: 155px; }
        }
        #product #images .slider-container .slider
        img { width: calc((100% - 40px) / 3); }
        #basket { padding: 0 45px 20px; }
        #sidebar, #wishlist, #profile, #orders,
        #addresses, #checkout, #order_address {
            margin-top: 50px;
        }
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-position: top left;
        background-repeat: repeat-x !important;
        background-attachment: scroll !important;
        background-image: url('http://fastortheme.com/grocery/image/catalog/grocery/bg-body.png');
    }
    header {
        #top_bar_bg #top_bar, #header_top,
        #header_bottom {
            width: 926px;
            padding: 0 45px;
        }
        #header_top {
            padding: 6px 45px 30px;
            #header_right {
                justify-content: space-between;
                #search_form, #my_account,
                #cart_block { margin-top: 24px; }
            }
        }
        #header_bottom {
            &::before {
                left: -100px;
                width: calc(100em + 100px);
            }
            #cat_menu {
                padding: 0 23px 0 0;
                &:hover {
                    #cat_list.hide {
                        top: 50px;
                        opacity: 100;
                        visibility: visible;
                    }
                }
                #cat_heading {
                    width: 186.5px;
                    padding: 14px 30px;
                }
                #cat_list {
                    position: absolute;
                    width: calc(100% - 23px);
                    padding: 11px 0 8px;
                    &.hide {
                        top: 65px;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            #navbar { padding: 0 20px 0 7px; }
        }
    }
    main, footer > div { width: 926px; }
    footer {
        & > div { padding: 0 45px; }
        #footer_top .row .footer-block
        { display: flex; } 
    }
    main {
        padding: 0 45px 50px;
        #contact_form label { white-space: nowrap; }
        #shop_title, #shop { padding-left: 216px; }
        #banners {
            padding-left: 228px;
            .col-md-8 img { width: 403px; }
            .col-md-4 img { width: 201.5px; }
        }
        #banners_2 .img-4 img { width: 187px; }
        #categories .category-row .products
        .product-card { max-width: 163px; }
        #shop .products .product-card { width: 155px; }

        #wishlist, #profile, #orders, #addresses,
        #checkout, #order_address {
            width: calc(75% - 30px);
            padding: 40px 20px 20px;
        }
        #checkout { width: calc(70% - 30px); }
        #sidebar { width: calc(30% - 30px); }
        #order_address { width: calc(40% - 30px); }
    }
}

@media only screen and (min-width: 1098px) {
    header {
        #top_bar_bg #top_bar, #header_top,
        #header_bottom { width: 1058px; }
        #header_top {
            #header_right #search_form {
                width: 430px;
                .search-input { width: 285px; }
            }
        }
        #header_bottom  #cat_menu #cat_heading
        { width: 219.5px; }
    }
    main, footer > div { width: 1058px; }
    main {
        #shop_title, #shop { padding-left: 251px; }
        #banners {
            padding-left: 261px;
            .col-md-8 img { width: 469px; }
            .col-md-4 img { width: 234.5px; }
        }
        #banners_2 {
            .img-4 img { width: 220px; }
        }
        #categories .category-row .products
        .product-card { min-width: 196px; }
        #shop .products .product-card { width: 179px; }
        #wishlist, #profile, #orders, #addresses,
        #checkout, #order_address {
            padding: 40px 40px 20px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    main{
        #categories .category-row .products .product-card {
            min-width: 157px;
            max-width: 157px;
        }
        #product #images .slider-container .slider img {
            width: calc((100% - 60px) / 4);
        }
    }
}

@media only screen and (min-width: 1270px) {
    header {
        #top_bar_bg #top_bar, #header_top,
        #header_bottom { width: 1230px; }
        #header_top {
            #logo { width: 390px; }
            #header_right {
                justify-content: center;
                #search_form {
                    width: 532px;
                    .search-input { width: 367px; }
                }
                #cart_block { margin-left: 24px; }
            }
        }
        #header_bottom  #cat_menu #cat_heading
        { width: 262.5px; }
    }
    main, footer > div { width: 1230px; }
    main {
        #shop_title, #shop { padding-left: 292px; }
        #banners {
            padding-left: 304px;
            .col-md-8 img { width: 555px; }
            .col-md-4 img { width: 277px; }
        }
        #banners_2 {
            .img-4 img { width: 262px; }
        }
        #categories .category-row .products
        .product-card { min-width: 191px; }
        #shop .products .product-card { width: 212px; }
        #wishlist, #profile, #orders, #addresses,
        #checkout, #order_ad { 
            padding: 40px 55px 20px;
        }
    }
}